# Physical Android phone
API_BASE_URL=http://192.168.31.109:5000/api
WS_URL=ws://192.168.31.109:5000/ws

# Android Emulator
# API_BASE_URL=http://10.0.2.2:5000/api
# WS_URL=ws://10.0.2.2:5000/ws

# Chrome / Windows
# API_BASE_URL=http://localhost:5000/api
# WS_URL=ws://localhost:5000/ws
